@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::placeholder {
  font-size: 1rem;
}
main {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.message,
.title {
  text-align: center;
}
.form {
  width: 80vw;
  max-width: 25rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 1rem 0;
}
#input {
  font-size: 1rem;
  width: 100%;
  border: 0;
  border: 2px solid hsl(209, 42%, 30%);
  padding: 0.7rem;
  border-radius: 5px;
}
.btn-check {
  font-size: 1rem;
  color: white;
  width: 50%;
  border: 0;
  border-radius: 5px;
  padding: 0.6rem;
  margin-top: 1rem;
  background: hsl(209, 42%, 30%);
  cursor: pointer;
  border: 2px solid transparent;
  transition: color, border, background 0.5s ease;
}
.btn-check:hover {
  background: transparent;
  border: 2px solid hsl(209, 42%, 30%);
  color: hsl(209, 42%, 30%);
}
.error {
  color: red;
}
.success {
  color: green;
}
